<nav class="home">
  <a href="/" >
    Home
  </a>
  <a href="/about.html" >
    About
  </a>
  <a href="/Resume.pdf" class="external" target="_blank">
    Resume <i class="fa fa-external-link" style="font-size:12px"></i>
  </a>
  <a href="https://github.com/aryzach" rel="noreferrer noopener" target="_blank">
    Github <i class="fa fa-external-link" style="font-size:12px"></i>
  </a>
  <a href="https://calendly.com/aryzach/15min" rel="noreferrer noopener" target="_blank">
    Calendly<i class="fa fa-external-link" style="font-size:12px"></i>
  </a>
</nav>
